<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
実は日本での学生時代は毎日バイトをしていました（笑）。新聞配達、公園案内、お化け屋敷でのキャラクター変装、和食系の飲食店でのホールとキッチンなど・・・色々な経験ですね。<br>
（どれも）私にとってすごく大事な経験です。
<br>
新聞配達のバイトでは意志と体力を磨き、 公園案内のバイトでは自信を持って日本語で元気に話す経験をしました。 ホールとキッチンのバイトでは日本の文化を体験できました。一番の特技は階段を登ることと皿洗いです（笑）。 <br>
<br>
海外経験が私の働き方に影響を与えているか、というより、海外経験は働き方を作ってくれました。<br>
<br>
困難に挑む勇気がなければ、生き甲斐がありません。<br>
毎日毎日新しいことをチャレンジして、チームの能力、自分の能力が向上できるように頑張ります。
</div><!--//summary-->
</section><!--//section-->