 <div class="education-container container-block">
<h2 class="container-block-title">学歴</h2>
<div class="item">
    <h4 class="degree">電気電子情報工学課程専攻・自然言語処理研究室</h4>
    <h5 class="meta">長岡技術科学大学</h5>
    <div class="time">2009 - 2013</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">日本語学</h4>
    <h5 class="meta">翰林日本語学院</h5>
    <div class="time">2007 - 2009</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">高等学校</h4>
    <h5 class="meta">Thai Binh Gifted高校学校</h5>
    <div class="time">2003 - 2006</div>
</div><!--//item-->

</div><!--//education-container-->