<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Freelancer</h3>
                            <div class="time">2017 - 現在</div>
                        </div><!--//upper-row-->
                        <div class="company">-</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>
                        </p>  
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">プロジェクトマネージャー、PMO</h3>
                            <div class="time">2015 - 2017</div>
                        </div><!--//upper-row-->
                        <div class="company">Asian Tech株式会社, Danang, Vietnam</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>
                        ベトナムへ帰国して、AsianTech株式会社に入社。2年間で当初30人の会社から200人を超える会社に成長。その間、色々なポジションで働くことができました。 <br>
                        まずはRubyチームのマネージャー。10〜15人のRuby未経験のメンバーをトレーニングし、チームをビルドしました。一方で、PMとして、3つのプロジェクトを担当しました。 <br>
                        さらに全社的にトレーニング・技術サポートを強化するためにTechnical Supportになりました。GitFlow、サーバ構築、Code reviewなどを標準化する一方で、Docker、GraphQLなどの新たな技術を会社に導入しました。 <br>
                        また、各プロジェクトを横断でモニタリングして、PMたちをサポートするPMOもやりました。プロジェクトのプロセス、資料のテンプレートなど作成して、PMたちにトレーニングしました。
                        </p>  
                        
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Ruby on Rails開発</h3>
                            <div class="time">2013 - 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">OKWave株式会社、東京、日本</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>OKWave株式会社の正社員として、アドバンスト開発チームに所属。Ruby on Railsフレームワークを利用して、会員ビジネスのサービスを開発。仕事のメインは開発でしたが、サービスがもっと面白く、価値があるものになるように企画チームやデザインチームとよく話しました。一方で、インフラの知識も持って、サービスが安定できるように毎日新しいことを学んでいました。</p>  
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">クローラ開発インターンシップ</h3>
                            <div class="time">2012 - 2013</div>
                        </div><!--//upper-row-->
                        <div class="company">OKWave株式会社、東京、日本</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>大学の実務訓練で、OKWave株式会社でインターンシップをしました。インターネットに存在する巨大なQAデータを自動的に抽出し、データベース化するクローラを研究していました。それまで、自然言語処理でQA認識はできるが、サイトにより構成、HTMLタグなどが違うので精度があまり高くないという課題がありました。それで、機械学習アプローチとパターン認識技術で精度を高めて、90％以上の精度に達することができました。</p>  
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">検索エンジン開発インターンシップ</h3>
                            <div class="time">2012</div>
                        </div><!--//upper-row-->
                        <div class="company">Yahoo!Japan、東京、日本</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Yahoo！Japan開催する2週間の検索エンジン開発コンテストに参加しました。Twitterのツイートをインデックスして、AND、OR条件で検索するなど。開発部技術リーダーの方の指導で、C++でリアルタイムでインデックスできるエンジンを作成した。</p>  
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Google短期インターンシップ</h3>
                            <div class="time">2012</div>
                        </div><!--//upper-row-->
                        <div class="company">Google Japan、東京、日本</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>短いですが、世界レベルのエンジニアたちと話して、最先端の技術を触って、すごく感動しました。</p>  
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->