<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
<!--                 <div class="intro">
                    <p></p>
                </div><!--//intro-->
                 <div class="item">
                    <span class="project-title"><a href="#" target="_blank">AsianTechプロジェクト</a></span> <br> <span class="project-tagline">アウトソーシングの会社なので、様々なプロジェクトにPMとして参加しました。Ruby on Railsを使って、ERP、Online学習、販売サイト、予約サービスなどを開発。<br>
                    そして、クーポン、飲食系などのMobileプロジェクトも数件開発しました。</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">会員ビジネスプロジェクト</a></span> <br> <span class="project-tagline">AUスマ特、スマートパスなどの特典に入るサービスや、Q&amp;Aの形で、ユーザから有名人、作家、医師に質問できるサービスを開発しました。</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Q&amp;Aクローラ開発</a></span> <br> <span class="project-tagline">インターネットサイトのQ&amp;Aを自動的に抽出し、データベース化するクローラを開発した。このプロジェクトでは自然言語処理と機械学習のアプローチで様々な方法を試しました。</span>
                </div><!--//item-->
            </section><!--//section-->